@model IEnumerable<Appsuggest.Models.Config>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Ayarlar";
}


<p>
    @Html.ActionLink("Yeni kayıt oluştur", "Create")
</p>
<table class="table">
   
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Value)</th>
        <th>Etkinlikler</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.ActionLink("Detayları", "Edit", new { name = item.Name }) |
                @Html.ActionLink("Detayları", "Details", new { name = item.Name }) |
                @Html.ActionLink("Sil", "Delete", new { name = item.Name })
            </td>
        </tr>
    }

</table>
