@model IEnumerable<Appsuggest.Models.App>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Uygulamalar";
    var ornekgrid = new WebGrid(source: Model, canPage: true, rowsPerPage: 10);
    ornekgrid.Pager(WebGridPagerModes.All);
    ViewBag.SearchAction = Url.Action("Index", "Apps");
    ViewBag.SearchValue = ViewBag.search;
    ViewBag.SearchName ="search";
}


<h3>Toplam Kayıt Sayısı: @ViewBag.TotalRows</h3>

<div>
    <p>
        @Html.ActionLink("Yeni kayıt oluştur", "Create")
    </p>
    @ornekgrid.Table(
    tableStyle: "table table-responsive table-bordered",
    columns: ornekgrid.Columns(
    ornekgrid.Column(columnName: "Name", header: Html.DisplayNameFor(model => model.Name).ToString()),
    ornekgrid.Column(columnName: "Link", header: Html.DisplayNameFor(model => model.Link).ToString()),
    ornekgrid.Column(columnName: "LogoLink", header: Html.DisplayNameFor(model => model.LogoLink).ToString()),
    ornekgrid.Column(columnName: "Tags", header: Html.DisplayNameFor(model => model.Tags).ToString()),
    ornekgrid.Column(columnName: "Version", header: Html.DisplayNameFor(model => model.Version).ToString()),
    ornekgrid.Column(columnName: "CreationDateTime", header: Html.DisplayNameFor(model => model.CreationDateTime).ToString()),
    ornekgrid.Column(columnName: "UpdateDateTime", header: Html.DisplayNameFor(model => model.UpdateDateTime).ToString()),
    ornekgrid.Column(columnName: "AppTypeName", header: Html.DisplayNameFor(model => model.AppTypeId).ToString()),
    ornekgrid.Column(columnName: "ProviderName", header: Html.DisplayNameFor(model => model.ProviderId).ToString()),
    ornekgrid.Column(columnName: "AppPlatformName", header: Html.DisplayNameFor(model => model.AppPlatformId).ToString()),
    ornekgrid.Column(columnName: "Etkinlikleri" +
    "", header: "",
    format:@<text>@Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
    @Html.ActionLink("Detayları", "Details", new { id = item.Id }) |
    @Html.ActionLink("Sil", "Delete", new { id = item.Id })</text>)
)
)
</div>

















@*<p>
    @Html.ActionLink("Yeni kayıt oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogoLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppPlatform.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.AppType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Provider.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogoLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppPlatform.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AppType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provider.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>*@
